@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Stack Sans Text', sans-serif;
}

#card-wrapper::-webkit-scrollbar{
  display: none;
  
}